html {
  height: 100%;
  width: 100%;
}
.jedna{
color:#ffea00;
text-align: center;
font-size: 130%;
-webkit-text-stroke: 0.5px #c2a8a8;
}
.dva{
color:rebeccapurple;
font-size: 120%;
-webkit-text-stroke: 0.7px #87a4b0;
}
.tri{
color:#2573bb;
font-family: "Open Sans", sans-serif;
position: absolute;
top: 435px;
left: 20px;
-webkit-text-stroke: 0.7px #2386d1;
font-size: 120%;
}
.ctyri{
color:#d77737;
font-size: 120%;
-webkit-text-stroke: 0.7px #c7b38a;
}
.pet{
color:#7d42b8;
font-size: 120%;
-webkit-text-stroke: 0.7px #995aaa;
}
.img{
background-repeat: no-repeat;
background-size: cover;
width: 100%; 
height: auto; 
position: relative; 
}
body{
background-color: lightblue;
}